table.mat-table {
  width: 100%;
}

.example-container {
  width: 60%;
  margin-left: 15%;
  margin-top: 10%;
}

.mat-spinner {
  z-index: 1000 !important;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
}

.makeBlur {
  background-color: cadetblue;
}
