.spinner-border {
  position: absolute;
  z-index: 3000 !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  margin-top: 10%;
}

.setMinWidth {
  min-height: 400px;
}
